<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% include page_or_site_description.inc page=page %}" />

  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
  <meta property="og:description" content="{% include page_or_site_description.inc page=page %}" />
  <meta property="og:image" content="{{ site.url }}/images/ogp-artwork.jpg" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  <meta name="twitter:card" content="summary" />
  <link rel="alternate" type="application/rss+xml" href="/feed.xml" />
  <link rel="stylesheet" href="/css/main.css?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelementplayer.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>