<section class="article-letter">
  <h2>
    おたより
  </h2>
  <form id="letter-form" action="" method="POST" target="no-target">
    <input type="hidden" id="episode" name="episode" value="{{ page.title }}" required>
    <label>Twitter ID</label><input type="text" id="twitter_id" placeholder="任意" name="twitter_id">
    <label>メッセージ<span>*</span><label><textarea id="message" name="message" required>
    </textarea>
    <button id="form-submit" type="submit">SUBMIT</button>
  </form>
  <p id="input-feedback"></p>
  <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>
  <a href="https://docs.google.com/forms/d/13n0z30Q1nM_JCndajM6piDvmBgQ4zW4DNm5m98ODL88/formResponse?entry.286431956={{%20page.title%}}">
</section>