---
title: episode list
description: 記事一覧
---
<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <body>
    {% include header.html %}
    <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h1 class="card-heading">
              Episode List
            </h1>
            <div class="article-header-note">
              <p>{{ page.description }}</p>
            </div>
          </header>

          <section class="card-body markdown">

<div id="episode-list">
  <el-row :gutter="10">
    <el-col :sm="16" :xs="24">
      <div class="sub-title">Search by content</div>
      <el-input
        icon="search"
        label="Search by content"
        placeholder=""
        :value="searchText"
        v-ime-input="searchText"
      >
        <i
          slot="icon"
          class="el-input__icon fa fa-lg fa-file-text-o"
          aria-hidden="true"
        ></i>
      </el-input>
    </el-col>
    <el-col :sm="8" :xs="24">
      <div class="sub-title">Search by actor</div>
      <el-input
        label="Search by actor"
        placeholder=""
        :value="searchActor"
        v-ime-input="searchActor"
      >
        <i
          slot="icon"
          class="el-input__icon fa fa-lg fa-user"
          aria-hidden="true"
        ></i>
      </el-input>
    </el-col>
  </el-row>

  <div class="post-count">
    <span class="post-count__filtered">[[posts.length]]</span>
    /
    <span class="post-count__raw">[[rawPosts.length]]</span>
  </div>

  <div v-if="posts.length">
    <el-collapse accordion>
      <el-collapse-item
        v-for="(post, index) in posts"
        :key="index"
      >
        <div slot="title" class="post-header">
          <span v-text="post.title" class="post-title"></span>
          <span class="post-actors">
            <actor
              v-for="(actor, index) in post.actors"
              :key="index"
              :actor="actor"
            ></actor>
          </span>
        </div>

        <a :href="post.url">open</a>
        <span class="post-topics">
          <el-tag
            v-for="(topic, index) in post.topics"
            :key="index"
            v-text="topic"
          ></el-tag>
        </span>

        <pre v-text="post.content"></pre>

      </el-collapse-item>
    </el-collapse>
  </div>
  <div v-else>
    not found.
  </div>

</div>

          </section>

        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
<style>
.post-count {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}
.post-meta {
  display: flex;
}
.post-topics
.post-actors {
  display: inline-flex
}
.post-title {
  font-size: 16px;
}
.post-actors {
  align-self: flex-end;
}

</style>
<script>
  const Actor = {
    name: 'actor',
    template: `
<img
  :src="actor.image_url"
  :alt="actor.title"
  :title="actor.title"
  class="list-group-element-images-element"
  width="24"
  height="24"
>
`,
    props: {
      actor: Object
    }
  }


  Vue.directive('ime-input', {
    bind (el, binding, vnode) {
      let onComposition = false
      el.addEventListener('compositionstart', () => {
        onComposition = true
      })
      el.addEventListener('compositionend', (e) => {
        onComposition = false
        console.log('end', binding.expression)
        binding.value = e.target.value
        Vue.set(vnode.context, binding.expression, e.target.value)
      })
      el.addEventListener('input', (e) => {
        console.log('input', binding.expression)
        if (onComposition) {
          return
        }
        Vue.set(vnode.context, binding.expression, e.target.value)
      })
    }
  })

  RegExp.quote = (str) => {
      return str.replace(/[.?*+^$[\]\\(){}|-]/g, "\\$&")
  }
  const filterPosts = (posts, query, target) => {
    let _posts = posts
    query
    .split(/[\s,]+/)
    .forEach(q => {
      const r = new RegExp(RegExp.quote(q), 'i')
      _posts = _posts.filter(post => target(post).some(t => t.match(r)))
    })
    return _posts
  }

  const app = new Vue({
    el: '#episode-list',
    delimiters: ['[[', ']]'], // Avoid to conflict to Jekyll template
    components: {
      Actor
    },
    computed: {
      posts () {
        return filterPosts(
          filterPosts(
            this.rawPosts,
            this.searchActor,
            (post) => post.actors.map(a => a.title)
          ),
          this.searchText,
          (post) => [post.content, post.title, post.description]
        )
      }
    },
    data () {
      return {
        searchText: '',
        searchActor: '',
        search: {
          text: '',
          actor: ''
        },
        compstart: '',
        compupdate: '',
        compend: '',
        input: '',
        keydown: '',
        change: '',
        inputText: '',
        ime: '',
        text:{
          ime: ''
        },
        rawPosts: [
          {% for post in site.posts %}
            {% capture desc %}{% include post_description.inc post=post %}{% endcapture %}

            {
              "url": {{ post.url | jsonify }},
              "title": {{ post.title | jsonify }},
              "actors": [
                {% for actor_id in post.actor_ids %}
                {
                  {% assign actor = site.actors | where:"actor_id", actor_id | first %}
                  "title": {{ actor.title | jsonify }},
                  "image_url": {{ actor.image_url | jsonify }}
                }{% unless forloop.last %},{% endunless %}
                {% endfor %}
              ],
              "topics":  {{ post.topics | jsonify }},
              "description": {{ desc | jsonify }},
              "date": {{ post.date | jsonify }},
              "content": {{ post.content | strip_html | jsonify }}
            }{% unless forloop.last %},{% endunless %}

          {% endfor %}
        ]
      }
    }
  })
</script>
</html>
