.actor-links {
  padding: 0 !important;
  margin: 0 -10px;

  &__item {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;

    min-width: 100px;

    .actors & {
      font-size: 14px;
    }

    & a{
      &,
      &:active,
      &:focus,
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}

.actor-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
