.article {
  &-header {
    margin-bottom: 24px;

    &-note {
      color: $color-text-dark-secondary;
      font-size: 0.9em;
    }
  }

  &-slideshow {
    max-width: 600px;
    height: 400px;
  }

  audio {
    width: 100%;
  }

  &-pagenav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
  }

  & iframe{
    max-width: 100%;
  }

  & .letter {
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #666;
    background: #ffffdd;

    li {
      list-style: none;

      &:before {
        margin-right: 0.25rem;
        content: "👉";
      }
    }
  }

  .shownotes {
    img {
      max-width: 500px;
      width: 100%;
    }
  }
}
