* {
  box-sizing: border-box;
}

a {
  &,
  &:active,
  &:focus,
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url("https://d2fqwrmjeqka0a.cloudfront.net/assets/fonts/v2/NotoSans_Regular.woff2") format("woff2"),url("https://d2fqwrmjeqka0a.cloudfront.net/assets/fonts/v2/NotoSans_Regular.woff") format("woff"),url("https://d2fqwrmjeqka0a.cloudfront.net/assets/fonts/v2/NotoSans_Regular.otf") format("opentype")
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url("https://d2fqwrmjeqka0a.cloudfront.net/assets/fonts/v2/NotoSans_Light.woff2") format("woff2"),url("https://d2fqwrmjeqka0a.cloudfront.net/assets/fonts/v2/NotoSans_Light.woff") format("woff"),url("https://d2fqwrmjeqka0a.cloudfront.net/assets/fonts/v2/NotoSans_Light.otf") format("opentype")
}

body {
  background-color: #eee;
  color: $color-text-dark-primary;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans Japanese", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.7;
  word-wrap: break-word;
}
