.footer {
  color: #BBBBBB;
  background: #222222;
  font-size: 0.9rem;
  padding-right: constant(safe-area-inset-right);
  padding-left:  constant(safe-area-inset-left);
  padding-bottom: 64px;
  padding-top: 64px;

  a, a:active, a:focus, a:hover {
    color: #FFFFFF;
  }

  h1 {
    color: #FFFFFF;
  }

  &-copyright {
    text-align: center;
  }

  &-sections {
    &-element {
      margin-bottom: 24px;

      &-heading {
        font-size: 1.4rem;
      }
    }
  }

  &-twitter {
    margin-top: 0.4rem;
  }
}
