.list-group-element {
  color: $color-text-dark-primary;
  display: block;
  font-size: 0.9rem;
  line-height: 1.7;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;

  &-heading {
    font-size: 1.5rem;
  }

  &-images {
    margin-top: 8px;

    &-link {
      margin-left: -10px;
    }

    &-element {
      border-radius: 50%;
      border: 2px solid #fff;
      box-sizing: content-box;
      background-origin: content-box;

      & + & {
        margin-left: 4px;
      }
    }
  }
}
