<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h1 class="card-heading">
              Actors
            </h1>
          </header>

          <section class="card-body markdown">

            <div class="list-group-element-images">

{% assign post_actor_ids =  site.posts | map: 'actor_ids' | join: ','  | split: ',' | sort %}
{% assign actor_and_count = '' | split: '.' %}

{% for actor in site.actors %}
  {% assign count = 0 %}
  {% for post_actor_id in post_actor_ids %}
    {% if actor.actor_id == post_actor_id %}
      {% assign count = count | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% include mkhash.inc actor = actor count = count %}
  {% assign actor_and_count = actor_and_count | push: h %}
{% endfor %}

{% assign sorted_actor_and_count = actor_and_count | sort: 'count' %}

              {% for item in sorted_actor_and_count reversed %}
                {% assign actor = item.actor %}
                <a href="{{ actor.url }}" class="actor">
                  <img src="{{ actor.image_url | prepend:site.baseurl }}" alt="{{ actor.title }}" class="actor-image" width="72" height="72">
                  <br>
                  {{ actor.title }}
                  ({{ item.count }})
                </a>
              {% endfor %}
            </div>

          </section>

        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
